@charset "utf-8";
$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$baseColor: #090A0C;
$titleColor: #D8D0C5;
$fontcolor: #F1F1F5;
$tagColor: #e2ddd4;
$partColor: #9d1a2d;
$navColor: #F1F1F5;
//基本要素部
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size /$base) * 1rem;
}

body{
    background-color: $baseColor;
    font-family: $ja_font;
    margin: 0 auto;
    max-width: 1024px;
    color: $fontcolor;
    @include fontsize(18);
}

.full_width{
    max-width: 100%;
    box-sizing: border-box;
}

/*　ヘッダー　*/
header{
    width: 100%;
    padding: 10px 0;
    .sp{
        display: none;
    }
}


/* ナビゲーション */
#gnav{
    margin: 60px 0 100px 0;
    ul{
        padding: 0;
        display: -webkit-flex;
        display: -webkit-inline-flex;
        display: flex;
        justify-content: space-around;
        li{
            @include fontsize(20);
            list-style: none;
            a{
                color: $navColor;
            }
        }
    }
}

/* メインコンテンツ */
#main_contents{

    #profile{
        .section_title{
            font-family: 'Noto Serif', serif;
            color: $titleColor;
            text-align: center;
            @include fontsize(40);
        }
        .member{
            text-align: center;
            .member_name{
                padding-bottom: 30px;
                font-family: 'Anton', sans-serif;
                letter-spacing: 1.5rem;
                @include fontsize(35);
            }
        }
        .text{
            margin: 0 auto;
            padding: 5% 0;
            .part{
                color: $partColor;
                font-weight: bolder;
            }
        }
    }

    #discography{
        .section_title{
            font-family: 'Noto Serif', serif;
            color: $titleColor;
            text-align: center;
            @include fontsize(40);
        }
        .music_title{
            padding-bottom: 30px;
            font-family: 'Anton', sans-serif;
            letter-spacing: 1.5rem;
            text-align: center;
            @include fontsize(35);
        }
        .music_img{
            text-align: center;
        }
        .music_content{
            margin: auto;
        }
    }

    #contact{
        text-align: center;
        .section_title{
            font-family: 'Noto Serif', serif;
            color: $titleColor;
            @include fontsize(40);
        }
        button{
            margin: 30px 20px;
            @include fontsize(20);
            i{
                margin-right: 5px;
            }
        }
    }
}

footer{
    text-align: center;
}

.section{
    margin: 50px 0 100px 0;
}
.row{
    padding: 50px 0;
}

.center{
    margin: auto;
}

.shadow{
    -webkit-filter: drop-shadow(0 0 5px $fontcolor);
}


/*
*   レスポンシブ対応部分 767px以下時
*/

@media(max-width: 767px){
    header{
        .pc{
            display: none;
        }
        .sp{
            display: block;
        }
    }
    
    #profile{
        .member{
            img{
                margin-bottom: 30px;
            }
        }
    }

    #discography{
        .music_img{
            margin: 30px 0 50px 0;
        }
    }
}

/*
*   レスポンシブ対応部分 480px以下時
*/

@media(max-width: 479px){
    body{
        @include fontsize(15);
    }
    #gnav{
        ul{
            
            flex-wrap: wrap;
            li{
                @include fontsize(20);
                margin: 0 5px;
            }
        }
    }
}